@page "/"

<h1>Bem vindo ao App de cadastro de clientes e contatos</h1>

<h3>Introdução</h3>

<p>Ao clicar em novo cliente, você será redicionado a uma tela de formulario para realizar o cadastro de um novo cliente, usando o metodo POST para uma API desenvolvida usando .NET EF</p>


<p>Ao clilcar em clientes, você será redirecionado para um table aonde mostra todos clientes cadastrados, essa tela você podera, alterar e excluir os seus clientes</p>



<p>E ao clilcar em contatos( em desenvolvivento) será redirecionado para uma tela aonde ira mostrar os contatos por cadastro de clientes(tabala relacionada), aonde só mostrara os contatos que o foi amarrada ao cliente(cadastro)</p>
