@page "/"

<h1>Bem vindo ao App de cadastro de clientes e contatos</h1>

<h3>Introdução</h3>

<p>Ao clicar em novo cliente, você será redicionado a uma tela de formulario para realizar o cadastro de um novo cliente, usando o metodo POST para uma API desenvolvida usando .NET EF</p>


<p>Ao clilcar em clientes, você será redirecionado para um table aonde mostra todos clientes cadastrados, essa tela você podera, alterar e excluir os seus clientes</p>



<p>E ao clilcar em contatos( em desenvolvivento) será redirecionado para uma tela aonde ira mostrar os contatos por cadastro de clientes(tabala relacionada), aonde só mostrara os contatos que o foi amarrada ao cliente(cadastro)</p>


<h3>Front-end</h3>
<p>Blazor CLIENT-SIDE</p>
<p>Optei nessa aplicacao pelo uso de uma biblioteca de componentes, mas consigo tranquilamente fazer toda essa aplicacao em HTML CSS E Blazor, criando e desenvolvendo meu propios componentes</p>
<p>Usei como biblioteca de componentes o MUDBLAZOR, uma exelente biblioteca
    link:https://mudblazor.com
</p>
<p>Tambem consigo desevolver essa mesma aplicacao em REACT e JS vanilha</p>

<p>Como react utilizando, next, styled components, material des UI</p>

<p>Tambem tenho otimo conhecimento em redimensiomento com flexbox e grids</p>


<h3>Back-end</h3>
<p>Link projeto API:https://github.com/Thiagog4/ApiClientes</p>
<p>Realizei o desenvolvimento da API com .NET 6 utilizando o framework:
EntityFramework
</p>
<p>Como banco de dados escolhi o sql aonde tenho mais conforto em utiliza-lo</p>
<p>O sqlserver esta hospedado no AZURE junto com o banco SQL</p>

<p>Estrutura do BD
    id int,
    cpf varchar(11),
    nome varchar(200),
    Celular varchar(11),
    cep varchar(11),
    endereco varchar(200)
    numero varchar(200)
    complemento varchar(200)
    Email varchar(150)
    Estado civil varchar(50)

</p>


<p>A API tbm se encontra hospedada no AZURE</p>

